@charset "UTF-8";
/* CSS Document */
html{
	font-size: 62.5%;
}
body{
	font-size: 1.6rem;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.wrapper{
	max-width: 960px;
	margin:0 auto;
}
.text-center{
	text-align: center;
}

/*header*/
.header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 490px;
	background: url(../images/hero-image.jpg) no-repeat;
	background-size: cover;
}
.site-title{
	color:#fff;
	font-size: 4.8rem;
}

/*navigation*/
.navigation{
	background: #78d0fd;
}
.nav-list{
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 36px 0;
}
.nav-item{
	width: 33.333%;
	
}
.nav-item>a{
	font-size: 2.4rem;
	color: #fff;
}

/*content*/
.content-title{
	margin-bottom: 50px;
	font-size: 2.4rem;
	font-weight: bold;
	text-align: center;
}


/*aboutme*/
.section{
	
}
.section__about{
	padding: 80px 0 100px;
}

.profile-thumb{
	margin-bottom: 40px;
}
.profile-name{
	margin-bottom: 40px;
}
.profile-text{
	max-width: 710px;
	margin: 0 auto;
	text-align: justify;
	line-height: 1.5;
}
/*history*/
.section__history{
	padding: 100px 0 120px;
	background: #ccc;
}
.content-title__history{
	margin-bottom: 60px;
}

.history-outer{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.history-item:not(:last-child){
	margin-bottom: 30px;
}

/*work*/
.section__work{
	padding: 76px 0 100px;
}
.content-title__work{
	margin-bottom: 76px;
}
.work-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 60px;
}
.work-title{
	margin-bottom: 24px;
	line-height: 1.5;
	text-decoration: underline;
	font-size: 1.5rem;
}
.work-thumb{
	margin-bottom: 24px;
}
.work-item{
	max-width: 300px;
}

.btn-more{
	display: block;
	width:300px;
	margin: 0 auto;
	padding: 20px 0;
	background: #1ab1ff;
	font-size: 2.1rem;
	color: #fff;
	text-align: center;
}

/*footer*/
.footer{
	padding: 30px 0;
	background: #aaa;
}

.copyrights{
	text-align: center;
	color: #fff;
}


/*-----------------
 * 
 * entry form
 *
 -----------------*/
 .container{
	 max-width: 400px;
	 margin:auto;
	 box-sizing: border-box;
	 padding: 10px;
 }
 label{
	 display: block;
 }
 input,textarea{
	 width: 100%;
	 padding: 8px;
	 border: solid 1px #acacac;
 }
 input[type^="submit"]{
	border: none;
	background-color: #1ab1ff;
	color: #fff;
	font-weight: bold;
 }
 .form-item{
	 margin-bottom: 20px;
 }
 
